<!DOCTYPE html>
<html>
{% block head %}
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link type="text/css" rel="stylesheet" href="/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
{% endblock %}
{% block body %}
  <div class="container">
    <div id="messages">
      <div id="hid" class="row justify-content-center text-center">
        <h1>Bienvenue au chat cool</h1>
        <form id="name">
          <div class="group_username">
            <input class="username_field" placeholder="Votre Username" name="username" id='username' required />
            <label for="Username" class="username_label">Votre Username</label>
          </div>
          <div> <button class="btn btn-outline-primary">OK</button> </div>
        </form>
      </div>
    </div>
    <div>
    <form id="form">
      <input id="msg" autocomplete="off" />
      <input type="file" name="file-5" id="file-5" class="inputfile inputfile-5" accept="image/png,image/jpeg,image/jpg" multiple/>
      <label for="file-5">
      <figure>
      <svg xmlns="http://www.w3.org/2000/svg" class="iborrainputfile" width="10" height="8" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg>
      </figure>
      </label>
      <button>Envoyer</button>
    </form>
  </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/script.js"></script>
{% endblock %}
</html>