body {
  margin: 0; 
  padding-bottom: 3rem;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form { 
  background: rgba(0, 13, 255, 0.505); 
  padding: 0.25rem; 
  position: fixed; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  display: flex; 
  height: 3rem; 
  box-sizing: border-box; 
  backdrop-filter: blur(10px); 
}

#msg { 
  border: none; 
  padding: 0 1rem; 
  flex-grow: 1; 
  border-radius: 2rem; 
  margin: 0.25rem; 
}

#msg:focus { 
  outline: none; 
}

#form > button { 
  background: #333; 
  border: none; 
  padding: 0 1rem; 
  margin: 0.25rem; 
  border-radius: 3px; 
  outline: none; 
  color: #fff; 
 }

p{
  padding: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
}

img{
  width: 50%;
  height: auto;
  text-align: center;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  max-width: 20%;
  font-size: 1px;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 1px 1px;
}

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em;
}

.iborrainputfile {
font-size:10px; 
font-weight:normal;
font-family: 'Lato';
}

.inputfile-5 + label figure {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #1e00ff;
    display: block;
    padding: 2px;
    margin: 0 auto 1px;
}

.inputfile-5:focus + label figure,
.inputfile-5.has-focus + label figure,
.inputfile-5 + label:hover figure {
    background-color: #685ed5;
}

.inputfile-5 + label svg {
    width: 100%;
    height: 100%;
    fill: #fff;
}

.group_username {
  position: relative;
  padding: 15px 20% 15px 20%;
  margin-top: 10px;
  width: 100%;
}

.username_field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #111399;
  outline: 0;
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.username_field::placeholder {
  color: transparent;
}
.username_field:placeholder-shown ~ .username_label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.username_label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.username_field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: #111399;
  border-image-slice: 1;
}
.username_field:focus ~ .username_label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #111399;
  font-weight: 700;
}
